.list{
    list-style: none;
    padding: 0;
}
.button{
    display: block;
    width: 30%;
    text-align: center;
    text-decoration: none;
    margin: 2rem auto;
    padding: 2% 0%;
    border-radius: 10px;
    border: solid 1px #9b9b9b;
    font-size: 1rem;
    color: #000;
}