{% extends 'myapp/base.html' %}
{% block title %}LogIn{% endblock title %}
{% block header-title %}ログイン{% endblock header-title %}
{% block content %}
<form action="" method='POST' name='login_form'>
    {% csrf_token %}

{% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
      </p>
      {% endfor %}
      {% for error in form.non_field_errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
    <div>
<button type="submit">ログイン</button></form>
{% endblock content %}
{% block footer %}{% endblock footer %}