{% extends 'myapp/base.html' %}
{% block title %}Settings{% endblock title %}
{% block header-title %}設定{% endblock header-title %}
{% block content %}
<a href="{% url 'namechange' %}">ユーザー名変更</a>
<a href="{% url 'emailchange' %}">メールアドレス変更</a>
<a href="{% url 'imagechange' %}">アイコン変更</a>
<a href="{% url 'password_change' %}">パスワード変更</a>
<a href="{% url 'logout_view' %}">ログアウト</a>
{% endblock content %}

{% comment %}{% url namecg %}{% url emailcg %}{% url pwcg %}{% url logout %}{% endcomment %}