{% extends 'myapp/base.html' %}
{% load static %}
{% block header %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/talk_room.css' %}" />
{% endblock %}
<header class="header">
    <div class="header-container">
        <a href="" class="back">戻る&laquo;</a>
        <span class="header-container__title">
            {{you.username}}
        </span>
        {% comment %} <a href="{% url 'talk_room' you.id %}" class="button">更新</a> {% endcomment %}
    </div>
</header>
{% endblock header %}
{% block content %}
<div class="talk_room">

    <!-- トークの表示部分 -->
    <ul class="talk_room__chatboard" id="talk_room__chatboard">
        <!-- =================== -->
        <!-- トークに応じて表示  -->
        <!-- ＞for文を回して表示 -->
        <!-- =================== -->
                <!-- ============================================== -->
        <!-- 自分→友人と友人→自分のメッセージで表示を変える -->
        <!-- ＞違いを見出してclassの違いに反映              -->
        <!-- ＞cssにて表示に違いを出す                      -->
        <!-- ============================================== -->
        {% for talk in msg %}

        {% if talk.owner == me %}
        <li class="talk_room__chatboard-content talk_room__chatboard-content-user" id="talk_room__chatboard">
            <img class="friends__list-usericon-user" src="{{ me.image_user.image.url }}">
            <p class="talk_room__chatboard-content-user-name">＞{{ talk.owner }}</p>
            <p class="talk_room__chatboard-content-user-text">{{ talk.contents }}<span class="message_time">({{talk.pub_date|date:'m/d H:i:s'}})</span>
            </p>
        </li>
        {% else %}
        <li class="talk_room__chatboard-content talk_room__chatboard-content-friend" id="talk_room__chatboard">
            <img class="friends__list-usericon-friend" src="{{ you.image_user.image.url }}">
            <p class="talk_room__chatboard-content-friend-name">＞{{ talk.owner }}</p>
            <p class="talk_room__chatboard-content-friend-text">{{ talk.contents }}<span id="data_time">({{talk.pub_date|date:'m/d H:i:s'}})</span>
            </p>
        </li>
        {% endif %}
        {% endfor %}
        {% comment %} <div class="contents">
            <div class="message_box" id="room">
                {% for talk in msg %}
                <div class="message_sender">
                    {% if talk.owner == me %}
                    {{talk.owner}}>
                    {% else %}
                        {{talk.owner}}>
                    {% endif %}
                </div>
                {% if talk.owner == me %}
                <div class="right-message">
                    {{talk.contents}}
                </div>
                {% else %}
                <div class="left-message">
                    {{talk.contents}}
                </div>
                {% endif %}
                <div class="message_time">
                    {{talk.pub_date|date:"n/j"}}
                    {{talk.pub_date|date:"H:i:s"}}
                </div>
                <!-- <p class="message_text">{{talk.content}}</p> -->
                {% endfor %}
            </div> {% endcomment %}
    </ul>
</div>
{% endblock %}

{% block footer %}

<footer class="footer">
    <div class="footer-container">
        <form method="POST" id="id_talk" class="talk_room__sendbox" onsubmit="return onsubmitButtonSend();">
            {% csrf_token %}
            {{form}}
            <button class="talk_room__sendbox-btn" type="submit">送信</button>
        </form>
    </div>
</footer>{% endblock footer %}
{% block js %}
{% comment %} {{room_name|json_script:"room-name"}} {% endcomment %}
<script>
    // 入力予測の表示をさせない（めっちゃ邪魔）
    document.getElementById('id_talk').setAttribute('autocomplete', 'off');
    // トークの表示を新しいものを下にしているため、最下にスクロールさせる
    function scrollToBottom() {
        var contentsBox = document.getElementById("talk_room__chatboard");
        window.scroll(0, contentsBox.scrollHeight);
    }

    const roomName = {{ room_name_json }};
    const myName = {{ my_name_json }};
    const g_elementInputMessage = document.getElementById("id_contents");
    const g_elementListMessage = document.getElementById("talk_room__chatboard");

    // WebSocketオブジェクト
    let ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/talk_room/" + roomName + '/');

    // 「Send」ボタンを押したときの処理
    function onsubmitButtonSend() {
        // 送信用テキストHTML要素からメッセージ文字列の取得
        let strMessage = g_elementInputMessage.value;
        if (!strMessage) {
            return false;
        }

        // WebSocketを通したメッセージの送信
        console.log(JSON.stringify({ "message": strMessage }));
        chatSocket.send(JSON.stringify({
            "message": strMessage,
            "owner": myName,
        })); //Django側に送っている

        // 送信用テキストHTML要素の中身のクリア
        g_elementInputMessage.value = "";
        return false;

    }

    // WebSocketからメッセージ受信時の処理
    chatSocket.onmessage = (event) => //Djangoから受け取っている
    {
        // テキストデータをJSONデータにデコード
        let data = JSON.parse(event.data);
        let owner = data['owner'];
        let message = data['message'];
        if (owner === myName) {
            let box = document.createElement("li");
            let userNameContents = document.createElement("p");
            let messageContents = document.createElement("p");
            let time = document.createElement("span");
            let image = document.createElement('img');
            box.className = "talk_room__chatboard-content talk_room__chatboard-content-user";
            userNameContents.className = "talk_room__chatboard-content-user-name";
            messageContents.className="talk_room__chatboard-content-user-text";
            image.className="friends__list-usericon-user"
            userNameContents.innerText=">"+myName;
            messageContents.innerText=message;
            image.src="{{ me.image_user.image.url }}";
            const date = new Date();
            time.className = "message_time";
            time.innerText = "("+(date.getMonth() + 1) + '/' + date.getDate();
            time.innerText += " " + date.getHours() + ":" + ("00" + date.getMinutes()).slice(-2) + ":" + ("00" + date.getSeconds()).slice(-2)+")";
            document.getElementById("talk_room__chatboard").appendChild(box);
            box.appendChild(image);
            box.appendChild(userNameContents);
            box.appendChild(messageContents);
            messageContents.appendChild(time);
        }
        else {
            let box = document.createElement("li");
            let userNameContents = document.createElement("p");
            let messageContents = document.createElement("p");
            let time = document.createElement("span");
            let image = document.createElement('img');
            box.className = "talk_room__chatboard-content talk_room__chatboard-content-friend";
            userNameContents.className = "talk_room__chatboard-content-friend-name";
            messageContents.className="talk_room__chatboard-content-friend-text";
            image.className="friends__list-usericon-friend"
            userNameContents.innerText=">"+owner;
            messageContents.innerText=message;
            image.src="{{ you.image_user.image.url }}";
            const date = new Date();
            time.className = "message_time";
            time.innerText = "("+(date.getMonth() + 1) + '/' + date.getDate();
            time.innerText += " " + date.getHours() + ":" + ("00" + date.getMinutes()).slice(-2) + ":" + ("00" + date.getSeconds()).slice(-2)+")";
            document.getElementById("talk_room__chatboard").appendChild(box);
            box.appendChild(image);
            box.appendChild(userNameContents);
            box.appendChild(messageContents);
            messageContents.appendChild(time);
            // メッセージの整形
            // let strMessage = data["message"];
            // // 拡散されたメッセージをメッセージリストに追加
            // let elementLi = document.createElement( "li" );
            // elementLi.textContent = strMessage;
            // g_elementListMessage.prepend( elementLi ); // リストの一番上に追加
            // //g_elementListMessage.append( elementLi );    // リストの一番下に追加
        }
        scrollToBottom();
    };

    // WebSocketクローズ時の処理
    chatSocket.onclose = (event) => {
        // ウェブページを閉じたとき以外のWebSocketクローズは想定外
        console.error("Unexpected : Chat socket closed.");
    };
</script>
{% endblock js %}